.eslintignore
.husky/pre-commit
.prettierignore
.prettierrc
.forceignore
.sfdx
.sfdx*
sfdx
sfdx*
.node_modules
.node_modules*
node_modules
node_modules*

video/MockDataLayer.mp4
.sfdx/indexes/lwc/custom-components.json
.sfdx/sfdx-config.json
.sfdx/tools/sobjects/standardObjects/Account.cls
.sfdx/tools/sobjects/standardObjects/Attachment.cls
.sfdx/tools/sobjects/standardObjects/Case.cls
.sfdx/tools/sobjects/standardObjects/Contact.cls
.sfdx/tools/sobjects/standardObjects/Contract.cls
.sfdx/tools/sobjects/standardObjects/Lead.cls
.sfdx/tools/sobjects/standardObjects/Note.cls
.sfdx/tools/sobjects/standardObjects/Opportunity.cls
.sfdx/tools/sobjects/standardObjects/Order.cls
.sfdx/tools/sobjects/standardObjects/Pricebook2.cls
.sfdx/tools/sobjects/standardObjects/PricebookEntry.cls
.sfdx/tools/sobjects/standardObjects/Product2.cls
.sfdx/tools/sobjects/standardObjects/RecordType.cls
.sfdx/tools/sobjects/standardObjects/Report.cls
.sfdx/tools/sobjects/standardObjects/Task.cls
.sfdx/tools/sobjects/standardObjects/User.cls
.sfdx/tools/soqlMetadata/standardObjects/Account.json
.sfdx/tools/soqlMetadata/standardObjects/Attachment.json
.sfdx/tools/soqlMetadata/standardObjects/Case.json
.sfdx/tools/soqlMetadata/standardObjects/Contact.json
.sfdx/tools/soqlMetadata/standardObjects/Contract.json
.sfdx/tools/soqlMetadata/standardObjects/Lead.json
.sfdx/tools/soqlMetadata/standardObjects/Note.json
.sfdx/tools/soqlMetadata/standardObjects/Opportunity.json
.sfdx/tools/soqlMetadata/standardObjects/Order.json
.sfdx/tools/soqlMetadata/standardObjects/Pricebook2.json
.sfdx/tools/soqlMetadata/standardObjects/PricebookEntry.json
.sfdx/tools/soqlMetadata/standardObjects/Product2.json
.sfdx/tools/soqlMetadata/standardObjects/RecordType.json
.sfdx/tools/soqlMetadata/standardObjects/Report.json
.sfdx/tools/soqlMetadata/standardObjects/Task.json
.sfdx/tools/soqlMetadata/standardObjects/User.json
.sfdx/tools/soqlMetadata/typeNames.json
.sfdx/typings/lwc/apex.d.ts
.sfdx/typings/lwc/engine.d.ts
.sfdx/typings/lwc/lds.d.ts
.sfdx/typings/lwc/messageservice.d.ts
.sfdx/typings/lwc/schema.d.ts
.sfdx/typings/lwc/sobjects/Account.d.ts
.sfdx/typings/lwc/sobjects/Attachment.d.ts
.sfdx/typings/lwc/sobjects/Case.d.ts
.sfdx/typings/lwc/sobjects/Contact.d.ts
.sfdx/typings/lwc/sobjects/Contract.d.ts
.sfdx/typings/lwc/sobjects/Lead.d.ts
.sfdx/typings/lwc/sobjects/Note.d.ts
.sfdx/typings/lwc/sobjects/Opportunity.d.ts
.sfdx/typings/lwc/sobjects/Order.d.ts
.sfdx/typings/lwc/sobjects/Pricebook2.d.ts
.sfdx/typings/lwc/sobjects/PricebookEntry.d.ts
.sfdx/typings/lwc/sobjects/Product2.d.ts
.sfdx/typings/lwc/sobjects/RecordType.d.ts
.sfdx/typings/lwc/sobjects/Report.d.ts
.sfdx/typings/lwc/sobjects/Task.d.ts
.sfdx/typings/lwc/sobjects/User.d.ts
.sfdx/typings/lwc/user.d.ts
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
config/project-scratch-def.json
force-app/main/default/lwc/.eslintrc.json
force-app/main/default/lwc/jsconfig.json
force-app/snippets/DocumentHelperWithDataLayer.cls
force-app/snippets/DocumentHelperWithDataLayerTest.cls
force-app/snippets/PART1.cls
force-app/snippets/PART2.cls
force-app/snippets/PART3.cls
force-app/snippets/PART4.cls
force-app/snippets/PART5.cls
force-app/snippets/PART6.cls
force-app/main/default/lwc/jsconfig.json
force-app/main/default/lwc/.eslintrc.json
.sfdx/sfdx-config.json
.npmrc
